body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 5em;
}

svg {
  background-color: white;
  box-shadow: 5px 5px 20px black;
}

#title {
  font-size: 1.5em;
  font-weight: bold;
  text-anchor: middle;
}

.dot {
  fill: blue;
}